.reveal {
  font-size: 1.4em;
  font-weight: normal;
  /* color: #1c98e6; */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
